<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/antik88/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="antik88" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>